{% extends 'base.html' %}

{% block content %}

<div class="card text-center" style="width: 100%;" data-aos="fade-off">
  <div class="card-body">
    <h5 class="card-title border-bottom">ریمیکس {{ remix.name }}</h5>
    <p class="card-text">دانلود ریمیکس {{ remix.name }} از {{ remix.by }}</p>
    <p class="card-text">خوانندگان : {{ remix.artists }}</p>
    {% if remix.cover %}
    <img src="{{ remix.cover.url }}" class="cover" alt="">
    {% endif %}
    <br />
    <audio controls>
      {% if remix.file_128 %}
      <source src="{{ song.file_128.url }}" type="audio/mp3">
      {% elif remix.file_320 %}
      <source src="{{ song.file_320.url }}" type="audio/mp3">
      {% endif %}
    Your browser does not support the audio element.
    </audio>
    <br />
    {% for line in remix.text_lines %}
    {{ line }}
    <br />
    {% endfor %}
    <br />
    {% if remix.file_128 %}
    <a href="{{ song.file_128.url }}" class="btn btn-dark" download>دانلود با کیفیت 128</a>
    {% endif %}
    {% if remix.file_320 %}
    <a href="{{ song.file_320.url }}" class="btn btn-dark" download>دانلود با کیفیت 320</a>
    {% endif %}
  </div>
</div>
{% endblock %}