<div class="flex-shrink-0 p-3 bg-white" style="width: 100%;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-5 fw-semibold">جدید ترین اهنگ ها </span>
    </a>
    <div class="container">
      <div class="list-group">
        {% for song in all_songs %}
        <a href="{% url 'home:song' song.id %}" class="list-group-item list-group-item-action new_songs">دانلود آهنگ {{ song.name }} از {{ song.artists }}</a>
        {% endfor %}
      </div>
    </div>
  </div>