{% load static %}
    <div class="row">
      <h1>آهنگ پیشنهادی</h1>
      <div class="col-3">
        <div class="card">
          <img src="{% static 'images/img1.jpg' %}" class="img-pish" alt="Jane" style="width:100%">
          <div class="content">
            <p class="title">بهزاد لیتو</p>
            <p class="title">پلنگ</p>
          </div>
        </div>
      </div>
    
      <div class="col-3">
        <div class="card">
          <img src="{% static 'images/img1.jpg' %}" class="img-pish" alt="Jane" style="width:100%">
          <div class="content">
            <p class="title">بهزاد لیتو</p>
            <p class="title">پلنگ</p>
          </div>
        </div>
      </div>
    
      <div class="col-3">
        <div class="card">
          <img src="{% static 'images/img1.jpg' %}" alt="Jane" class="img-pish" style="width:100%">
          <div class="content">
            <p class="title">بهزاد لیتو</p>
            <p class="title">پلنگ</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img src="{% static 'images/img1.jpg' %}" alt="Jane" class="img-pish" style="width:100%">
          <div class="content">
            <p class="title">بهزاد لیتو</p>
            <p class="title">پلنگ</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img src="{% static 'images/img1.jpg' %}" alt="Jane" class="img-pish" style="width:100%">
          <div class="content">
            <p class="title">بهزاد لیتو</p>
            <p class="title">پلنگ</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img src="{% static 'images/img1.jpg' %}" alt="Jane" class="img-pish" style="width:100%">
          <div class="content">
            <p class="title">بهزاد لیتو</p>
            <p class="title">پلنگ</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img src="{% static 'images/img1.jpg' %}" alt="Jane" class="img-pish" style="width:100%">
          <div class="content">
            <p class="title">بهزاد لیتو</p>
            <p class="title">پلنگ</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img src="{% static 'images/img1.jpg' %}" alt="Jane" class="img-pish" style="width:100%">
          <div class="content">
            <p class="title">بهزاد لیتو</p>
            <p class="title">پلنگ</p>
          </div>
        </div>
      </div>
    </div>
